@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.tour-page{
    background-image: url('https://wallpaperaccess.com/full/488392.jpg');
    background-size: cover;
    min-height: 60vh;
    
}
.tour-page-layer{
    background-color: rgba(0, 0, 0, 0.45);
    min-height: 60vh;
    
    
}
.tour-title{
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: 700;
    transform: translate(0%, 200%);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}
.tour-links{
    text-decoration: none;
}
.tour-menu-col{
    padding-left: 10px;
    padding-right: 10px;
}
@media only screen and (max-width:470px) {
    
    .tour-page{
        min-height: 40vh;
        
    }
    .tour-page-layer{
        min-height: 40vh;
        
        
    }
    .tour-title{
        transform: translate(0%, 120%) !important;
    font-size: 45px;

    }
    
    }

